@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Vandana */

.navbar{
    background-color: white;
    padding: 0px 16px 0px 12px;     
}

/* W3SCHOOL ICON */

.navbar .menu li{
    padding: 7px;
    padding-top: 11px;
    padding-bottom: 12px;
    text-align: center;
}


span{
    font-size: 11px;
    font-weight: bold;
    padding: 3px 10px;
    margin-left: 3px;
    text-align: center;
    color: black;
    border-radius: 25px;
    border: 1px solid black;
    position: relative;
    top: -2px;
    background-color: white;
}

.navbar a:hover{
    background-color: #04AA6D;
    color: white;

    
}

.navbar li{
   display: inline-block;
   padding: 8px 16px;  
}

.menu{
    list-style-type: none;
    padding: 10px;
}

.navbar li a{
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 24px 16px;
    
    
}

.fa-caret-down:hover{
    color: white;
}

/* Navbar second part Icon */


.fa-circle-half-stroke{
    padding-left: 55px;
}

.fa-caret-down:hover{
    background-color: #04AA6D  !important;
}
i{
    color: #000000;
    padding: 5px;
    
}
i:hover{
    background-color: white;
    color: #04AA6D;
}

.round-button{
    padding-left: 20px !important;
}

.round-button:hover{
    background-color: #04AA6D !important;
    color: #FFFFFF;
}

.round-paid{
    border-radius: 25px;
    padding: 9px 16px !important;
    width: auto;
    padding-right: 20px;
    
}

.round-paid:hover{
        color: #FFFFFF;
}
.round-log-in{
    border-radius: 25px;
    padding: 8px 40px !important;
    padding-right: 30px !important;
    width: 20px !important; 
    background-color: #04AA6D; 
    color: #FFFFFF !important;
    text-align: center;
    
}

.round-log-in:hover{
    
    background-color: #4ab48d !important;
}

.navbar::after{
    content: " ";
    display: table;
    clear: both;
}
@media(max-width:400px){
    .menu{
        width: 100%;
        height: auto;
    }
}

.dropdown a{
    display: block;
    padding: 10px;
}

/* Section Main */

.content{
    background-color: #282A35;
    height: 568px;
    background-size: contain;
    padding: 90px;
    padding-bottom: 90px;
}

.main{
    padding: 0px 9px;
}

.main h1{
    text-align: center;
    font-size: 70px;
    
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif; 
    margin: 2px 0 -20px 0 !important;
    padding-bottom: 3px;  
}

.main h3{
    color: #FFC0C7;
    font-weight: 700;
    font-size: 23px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center; 
    margin-top: 30px!important;
    padding-top: 4px;
    padding-bottom: 5px; 
}


/* Form */

.form1{
    width: 520px;
    margin: auto;

}

form{
    max-width: 600px;
    padding-bottom: 20px;
    padding-top: 8px;
    padding-bottom: 15px;
  
}

form input[type=text]{
    padding: 15px;
    font-size: 17px;
    border: 1px solid #282A35;
    border-radius: 25px;
    float: left;
    width: 80%;
    padding-left: 25px;
    padding-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    
    background: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    border-right: 1px solid #04AA6D;
    
}

form button{
    border-radius: 25px;
    float: left;
    width: 20%;
    padding: 13px;
    background: #04AA6D;
    color: white;
    font-size: 17px;
    border: 1px solid #282A35;
    border-left: none;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button-first i{
    padding: 1px !important;
}

.main a{
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    text-align: center;
    padding-top: 35px;
       
}

.main a:hover{
    color: #41c779;
}

/* Vandana */

/* Sachin */
.image h1{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    padding: 30px;
}
.image h4{
    text-align: center;
    font-size: 30px;
    padding: 30px;
}
.image{
    background-color: #E7E9EB;
    width: 100%;
    height: 800px;
}
.image img{
    width: 70%;
    margin: 16px 0 20px 0;
    display: block;
    margin: auto;
}
.btn{
    text-decoration: none;
    background-color: #282A35;
    color: white;
    font-size: 18px;
    display: block;
    margin: auto;
    text-align: center;
    width: 300px;
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px;
}

.getstarted{
    width: 100%;
    height: 400px;
    background-color: #282A35;
}
.getstarted h1{
    color: #FFC0C7;
    font-size: 50px;
    padding: 30px;
}
.getstarted p{
 color: #FFC0C7;
 font-size: 40px;
 padding: 30px;
}
.getstarted .button{
    width: 200px;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 25px;
    display: block;
    text-align: center;
    padding: 25px;
   
}
.foot::after{
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width:767px) {
    .foot{
        width: 100%;
        height: 200px;
    }
}
@media screen and (max-width:480px) {
    .foot{
        width: 100%;
        height: 200px;
    }
}
/* Sachin */
div {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}
.black-bg {
    padding: 30px 3px 85px 3px;
    background-color: #282A35!important;
    color: white!important;
    display: block;
}
.codeedit{
    padding-top: 78px;
    padding-bottom: 125px;
}
.w3-padding {
    padding: 8px 16px!important;
}
.w3-content, .w3-auto {
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 768px){
h1 {
    font-size: 30px !important;
}
}
@media only screen and (max-width: 500px){
h1 {
    font-size: 30px;
}}


h1{
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.w3-center{
    text-align: center!important;
}
h4{
   margin-top: 25px;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    min-height: 100%;
    line-height: 1.5;
}
.codeeditorbr-container {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
   
}
.codeeditorbr-row {
    padding: 10px;
    background: #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.w3-bar:before, .w3-bar:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .codeeditorbr-left{
        width: 30%;
    }
}

.codeeditorbr-column {
    float: left;
}
.codeeditorbr-dot {
    margin-top: 5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3px;
}
@media screen and (max-width: 800px){
    .codeeditorbr-middle {
        width: 70%;
    }
}
.codeeditorbr-input {
    width: 80%;
    border-radius: 3px;
    border: none;
    background-color: white;
    margin-top: -8px;
    height: 22px;
    color: #666;
    font-size: 14px;
    padding: 5px;
}
@media screen and (max-width: 700px){
.codeeditorbr-input {
    margin-left: 15px;
}
}
button, input {
    overflow: visible;
}
button, input, select, textarea, optgroup {
    font: inherit;
    margin: 0;
}
.codeeditorbr-row:after {
    content: "";
    display: table;
    clear: both;
}
.w3-bar{
    background-color: #f1f1f1;
    position: relative;
    z-index: 4;
    font-size: 18px;
    width: 100%;
    overflow: hidden;
}
.w3-bar .w3-button {
    white-space: normal;
}
.w3-bar .w3-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
.codeeditorbr-tablink {
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    display: inline-block;
    padding: 6px 18px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
}
.ws-grey {
    background-color: #E7E9EB!important;
    color: black!important;
}
.w3-btn, .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.gifimage{
width: 100%;
    height: auto;
    display: block;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* w3 schools spaces section css  */
#bgimgspaces {
    background:#282A35 url(back.jpg) no-repeat fixed center;
}
.w3-center {
    text-align: center!important;
}

.w3-spaces{
    background-color: #282A35;
    opacity: 0.96;
    margin: auto;
    padding: 85px 20px;
}
h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 24px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.getstart-btn {
    background-color: #04AA6D;
    color: white;
    margin: auto;
    display: block;
    border-radius: 25px;
}

.w3-btn {
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
img {
    vertical-align: middle;
    border-style: none;
}

/* colorpicker */
.color-picker{
background-color: #ebd9d4;
    color: #000;
    padding-top: 78px;
    padding-bottom: 95px;
}
.colorcontent{
    max-width: 1400px;
}