@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}


/*  <!-- color picker section --> */

.content{
    background-color: #F3ECEA;
    color: #000;
    padding-top: 78px;
    padding-bottom: 95px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
.content h1{
    font-size: 65px;
    font-weight: 700;
    
}
.content h4{
    margin-top: 25px;
    margin-bottom: 10px;
}
.content img{
    width: 150px;
    height: 128px;
    margin-top: 16px;
}
img:hover{
    opacity: 0.6;
}
/*  <!-- color picker section --> */



/*  <!-- play game section --> */
.game{
    padding: 40px 0px;    
    background-color: #96D4D4!important;
  
}
.codeGame{
    padding: 3%;
    text-align: center;
    color: black!important;
    display: block;
    
}
.codeGame h1{
    font-size: 60px;
    font-family: 'Freckle Face', cursive;
    margin: 2px 0 -20px 0 !important;
}
.codeGame h2{
    font-size: 32px;
    font-family: 'Freckle Face', cursive;
    margin: 25px 0px;
}
.codeGame .button{
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 8px 16px 10px 16px;
    border-radius: 25px;
    background-color: #282A35;
    margin:auto;
    font-family: 'Source Sans Pro', sans-serif;
    width: 200px;
}

.button:hover{
    background-color: rgb(15, 15, 15);
}

.codeGame img{
    width: 120px;
    height: 200px;
    margin-top: 12px;
    margin-bottom: 28px;
    text-align: center;
}
.codeGame::after{
    content: "";
    clear: both;
    display: table;
}
/*  <!-- play game section --> */


/* <!-- Exercises and quizzes section --> */
.quiz{
    background-image: url(Images/w3Backgroung.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
    padding: 80px 0px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
   
}
.quiz h2{
    font-size: 45px;
    font-weight: 700px;
    margin: 15px 0px;
}
.quiz h4{
    font-size: 25px;
    font-weight: 400px;
    margin: 15px 0px;
}
.qebox{
    padding: 0px 8px;
    margin: 18px 0px;
    

}
.exercises, .quizzes{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 35px;
    padding: 70px 50px;
    opacity: 0.97;
    font-family: 'Source Sans Pro', sans-serif;
}
.box{
    float: left;
    width: 50%; 

}

.qebox::after{
    content: "";
    display: table;
    clear: both;
}

.quizzes{
    background-color: #FFF4A3!important;
    color: black!important;


}

.exercises{
    background-color: #04AA6D!important;
}

/* <!-- Exercises and quizzes section --> */